*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    caret-color: transparent;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.container{
    width: 100%;
    height: auto;
    position: relative;
}
.navbar{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar a{
    font-size: 1.3rem;
    font-weight: 600;
}
.main-text{
    font-size: 4rem;
    width: 567px;
    line-height: 5rem;
    letter-spacing: 0.7rem;
    margin: 4rem 0 0 9rem;
    font-weight:500;
    color: #412B2B;
}
.choose-flavour{
    margin: 2rem 0 0 9rem;
    font-size: 2.5rem;
    padding: 1rem;
    background-color: #9DDBDB;
    width: 30rem;
    border-radius: 1rem;
}
[type="radio"]:checked,
[type="radio"]:not(:checked){
    position: absolute;
    visibility: hidden;
}
.color-btn:checked + label, 
.color-btn:not(:checked) + label{
    position: relative;
    display: inline-block;
    transition: all 200ms linear;
    cursor: pointer;
}
.color-btn:checked + label{
    transform: scale(1.2);
}
.orange, .strawbery, .pineapple, .lime{
    width: 80px;
    height: 80px;
}
.citrus, .berry, .tropical, .mint{
    position: absolute;
    left: 0px;
    top: 80px;
    width: 150px;
}
label.color-1{
    margin:1rem 2rem 0 9rem;
}
label.color-3, label.color-4{
    margin-left: 2rem;
}
.buttons{
    display: flex;
    margin:4rem 0 0 9rem ;
    gap: 3rem;
}
.buttons .buy-now, .know-more{
    padding: 0.8rem 3rem;
    border-radius: 0.4rem;
    letter-spacing: 0.2rem;
}
.buy-now{
    background-color: white;
}
.know-more{
    background-color: #9DDBDB;
}
.product{
    width: 270px;
    height: 540px;
    position: absolute;
    bottom: 100px;
    z-index: 1;
    transition: 0.7s;
    --left:0px;
    transform-origin: left;
    transition: scale 0.5s ;
    transform: translateX(1000px);
}
.product .soda{
    background: 
    url(./Assets/bg.png) var(--left) 0,
    url(./Assets/mockup.png);
    background-size: auto 100%;
    width: 270px;
    aspect-ratio: 2 / 4;
    background-blend-mode: multiply;
    mask-image: url(./Assets/mockup.png);
    mask-size: auto 100%;
    transition: 0.7s;
    opacity: 1;
}
.soda:hover{
    --left:1300px;
    transform: translateX(0%) translateY(-120px);
}
.back-color{
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(45deg, #e2d1c0, #ee7504);
    transition: all 250ms linear 150ms;
}
.back-color.mock-2{
    background-image: linear-gradient(135deg, #afa9a9, #e03939);
    opacity: 0;
}
.for-color-2:checked ~ .back-color.mock-2{
    opacity: 1;
}
.back-color.mock-3{
    background-image: linear-gradient(200deg,rgb(163, 206, 163), #ddcc0f);
    opacity: 0;
}
.for-color-3:checked ~ .back-color.mock-3{
    opacity: 1;
}
.back-color.mock-4{
    background-image: linear-gradient(275deg, #bcc8a2, #7cb111);
    opacity: 0;
}
.for-color-4:checked ~ .back-color.mock-4{
    opacity: 1;
}
.info{
    position: absolute;
    top: 500px;
    left: 800px;
    width: 500px;
    height: 50px;
}