@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: black;
}
.wrapper{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background: radial-gradient(circle, #55DADA, #84DBDB, #CDDDDD );
}
.banner{
    height: 1000px;
    overflow: hidden;
    position: relative;
    background-image: url(./Assets/strawberry/unsplash_V3OC7ISzwpE.png);
    background-repeat: no-repeat;
    background-position: center;

}
.navbar{
    height: 100px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}
.navbar a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
.main-text{
    font-size: 4rem;
    width: 567px;
    line-height: 5rem;
    letter-spacing: 0.7rem;
    margin: 5rem 0 0 9rem;
    font-weight:500;
    color: #412B2B;
}
.buttons{
    display: flex;
    margin:4rem 0 0 9rem ;
    gap: 3rem;
}
.buttons .buy-now, .know-more{
    padding: 0.8rem 3rem;
    border-radius: 0.4rem;
    letter-spacing: 0.2rem;
}
.buy-now{
    background-color: white;
}
.know-more{
    background-color: #9DDBDB;
}
.banner .product{
    width: 250px;
    height: 500px;
    position: absolute;
    left: 80%;
    transform: translateX(-50%);
    bottom: 280px;
    z-index: 1;
    transition: 0.7s;
    --left: 0px ;
    display: flex;
    justify-content: center;
}
.banner .product .soda{
    background: 
    var(--url) var(--left) 0,
    url(./Assets/mockup.png);
    background-size: auto 100%;
    width: 250px;
    aspect-ratio: 2 / 4;
    background-blend-mode: multiply;
    mask-image: url(./Assets/mockup.png);
    mask-size: auto 100%;
    transition: 0.7s;
}
.soda:hover{
    --left:1000px;
    transform: translateX(0%) translateY(-120px);
}
.product-varity{
    width: 100%;
    height: 500px;
    z-index: -10;
}